
<section class="_2048">
  <Keypress key-event="keydown" :multiple-keys="arrowKeys" @success="handleArrowKey" />
  <div class="header">
    <div class="title">2048</div>
    <div class="header-right">
      <div class="score">
        <span class="title">score</span>
        <span class="value">{{score}}</span>
      </div>
      <div class="controlls">
        <button @click="startNewGame" class="new-game">New Game</button>
        <button @click="toggleEasyMode"
                :class="['easy-mode', {active: easyMode}]"
        >Easy Mode</button>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="slots">
      <div class="slot" v-for="cell in new Array(16)"></div>
    </div>
    <div class="slides">
      <transition-group name="expand">
        <div v-for="slide in slides"
             :class="['slide',
                    slide.value > 2048 ? 'big' : '_'+slide.value,
                    {merged: slide.merged},
                    'x'+slide.position.x,
                    'y'+slide.position.y]"
             :key="slide.id"
        >{{slide.value}}</div>
      </transition-group>
    </div>
  </div>
</section>
