
<section class="breakout">
  <Keypress key-event="keydown" :multiple-keys="arrowKeys" @success="handleArrowKey" />
  <div class="header">
    <div class="title">Breakout</div>
    <div class="header-right">
      <div class="score">
        <span class="title">score</span>
        <span class="value">{{score}}</span>
      </div>
      <div class="controlls">
        <button @click="startNewGame" class="new-game">New Game</button>
      </div>
    </div>
  </div>
  <div class="board">
  </div>
</section>
