
.breakout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 80px;
      font-weight: bold;
      color: #776e65;
    }

    .header-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;
      padding-left: 20px;

      .score {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        width: 100%;

        .title {
          font-size: 13px;
          font-weight: bold;
          color: #eee4da;
        }

        .value {
          color: white;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .controlls {
        button {
          background-color: #8f7a66;
          color: #f9f6f2;
          padding: 10px 20px;
          border-radius: 3px;
          border: none;
          font-size: 18px;
          font-weight: bold;

          &.active {
            background-color: #bfaa96;
          }
        }
      }
    }
  }

  .board {
    position: relative;
    border-radius: 8px;
    flex: 1;
  }
}
