<section class="snake-game">
  <Keypress key-event="keydown" :multiple-keys="arrowKeys" @success="handleArrowKey" />
  <div class="header">
    <div class="title">Snake</div>
    <div class="header-right">
      <div class="score" v-if="score">
        <span class="title">score</span>
        <span class="value">{{score}}</span>
      </div>
      <div class="controlls">
        <button @click="startNewGame" class="new-game">New Game</button>
        <button @click="() => stop = !stop" class="new-game">
          {{ stop ? 'Resume' : 'Pause'}}</button>
      </div>
    </div>
  </div>
  <div class="board-wrapper">
    <div class="board" :style="`width: ${width}px; height: ${height - 100}px`">
      <div class="snake" v-if="snake">
        <transition-group v-for="section in snake" name="fade">
          <span
            :key="section.id"
            :class="['snake-section',
                  {head: section.head},
                  ([37, 39].includes(section.direction)) ? 'horizontal' : 'vertical',
                  ([37, 40].includes(section.direction)) ? 'decrease' : 'increase']"
            :style="getSectionStyle(section)"
          ></span>
        </transition-group>
      </div>
    </div>
  </div>
</section>
