$background-color: #002B36;
$board-color: #073642;
$orange: #B58900;
$white: #FDF6E3;
$dark-red:#CB4B16;
$light-red: #DC322F;
$cyan: #2AA198;

.snake-game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background-color;

  .header {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 40px;
      font-weight: bold;
      color: $orange;
    }

    .header-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;
      padding-left: 20px;

      .score {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        width: 100%;

        .title {
          font-size: 13px;
          font-weight: bold;
          color: $orange;
        }

        .value {
          color: $white;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .controlls {
        button {
          background-color: $orange;
          color: $white;
          padding: 10px 20px;
          border-radius: 3px;
          border: none;
          font-size: 18px;
          font-weight: bold;

          &.active {
            background-color: $orange;
          }
        }
      }
    }
  }

  .board-wrapper {
    background-color:$board-color;
    overflow: scroll;
    width: 100vw;

    .board {
      position: relative;

      .snake-section {
        /* transition: var(--snake-speed) linear; */
        transition: 2s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        position: absolute;
        background-color: $cyan;
        width: var(--section-size);
        height: var(--section-size);
        margin: 0;

        /* &.head { */
        /*   &.horizontal { */
        /*     &.increase { border-radius: 0 10px 10px 0; } */
        /*     &.decrease { border-radius: 10px 0 0 10px; } */
        /*   } */
        /*   &.vertical { */
        /*     &.decrease { border-radius: 0  0 10px 10px; } */
        /*     &.increase { border-radius: 10px 10px 0 0; } */
        /*   } */
        /* } */

        &.horizontal {
          &.expand-enter {
            width: 0;
            &.decrease { margin-left: var(--section-size); }
          }
          &.expand-leave-to {
            width: 0;
            &.increase { margin-left:  var(--section-size); }
          }
        }

        &.vertical {
          &.expand-enter {
            height: 0;
            &.increase { margin-top: var(--section-size); }
          }
          &.expand-leave-to {
            height: 0;
            &.decrease { margin-top: var(--section-size); }
          }
        }
      }
    }
  }
}
