<template>
  <div class="container">
    <NuxtLink to="/2048" class="game _2048"> 2048 </NuxtLink>
    <NuxtLink to="/snake" class="game snake"> Snake </NuxtLink>
    <NuxtLink to="/breakout" class="game breakout"></NuxtLink>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue'

  export default Vue.extend({})
</script>

<style scoped lang="scss">
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    ._2048 {
      width: 200px;
      height: 200px;
      background-color: #e6bf3d;
      color: white;
      font-size: 50px;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      text-decoration: none;
    }
  }

  .links {
    padding-top: 15px;
  }

  .snake {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    background: url('~/assets/img/snake.png');
  }

  .breakout {
    width: 200px;
    height: 200px;
    background: url('~/assets/img/breakout.png');
    background-size: 100%;
  }
</style>
